[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
mysqlclient = "*"
pip = "*"
cryptography = "*"
pymysql = "*"
whitenoise = "*"
django-heroku = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
export SECRET_KEY='django-insecure-w_2o#7cyy!ib44(xk(d$5$qkjm&g-m&-#1zq@48807vc$037d_'